# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!make/tools/Shapely/PyInstaller/geos_c.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!make/tools/Shapely/PyInstaller/libgeos.lib

# Executables
*.exe

!make/tools/DistMesh/DistMesh.exe
!make/tools/MeshConv/MeshConv.exe
make/Debug
make/Release
make/x64
make/outputs
make/My Advisor Results - PERDIX
*.out
*.app
*.u2d
.vs
*.11
*.101
fort.*