# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!make/tools/PyConvertGeo/pyinstaller/geos_c.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!make/tools/PyConvertGeo/pyinstaller/libgeos.lib

# Executables
*.exe
!release/Win/PERDIX-2L.exe
!make/tools/sleep.exe
!make/tools/meshconv.exe
*.out
*.app
make/Debug
make/Release
make/x64
*.u2d
make/Output
.vs
*.11
*.101
fort.*
/make/Report_2D_Flat_max.txt
/make/Report_2D_Lattice_max.txt
