# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe

# From Hyungmin
!build/tools/Shapely/PyInstaller/libgeos.lib
!build/tools/Shapely/PyInstaller/geos_c.dll
!build/tools/DistMesh/DistMesh.exe
!build/tools/MeshConv/MeshConv.exe

build/Debug
build/Release
build/x64
build/outputs
build/My Advisor Results - PERDIX
*.out
*.app
*.u2d
*.11
*.101
*.log
.vs
fort.*